@model Aiges.MVC.Models.ProjectDetailsViewModel

@{
    ViewData["Title"] = "ProjectDetails";
}

<body>
    <div class="container">      
        <div class="content">
            <h2> @Model.Title</h2>
            <h4> @Model.Tags</h4>
            <h3>Category:</h3>
            <h4>@Model.Category.Name</h4>
            <h3>@Model.Description</h3>   
            <h4>@Model.ProjectFile</h4>
            <h4>@Model.LastUpdated</h4>
        </div>
    </div>
</body>
